.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; // Hauteur de la vue
    background-color: #f5f5f5; // Couleur de fond de la page
  }
  
  .form-wrapper {
    background: #ffffff; // Couleur de fond du formulaire
    padding: 2rem; // Espacement interne du formulaire
    border-radius: 8px; // Coins arrondis
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); // Ombre portée
    width: 100%;
    max-width: 500px; // Largeur maximale du formulaire
  }
  
  h2 {
    text-align: center; // Alignement centré du titre
    margin-bottom: 1rem; // Marge inférieure du titre
    color: #333; // Couleur du texte du titre
  }
  
  .form-group {
    margin-bottom: 1.5rem; // Marge inférieure des groupes de formulaires
  }
  
  .form-group label {
    display: block; // Affichage en bloc
    margin-bottom: 0.5rem; // Marge inférieure des étiquettes
    font-weight: bold; // Texte en gras pour les étiquettes
  }
  
  .form-group input {
    width: 100%; // Largeur maximale des champs de saisie
    padding: 0.5rem; // Espacement interne des champs de saisie
    border: 1px solid #ddd; // Bordure des champs de saisie
    border-radius: 4px; // Coins arrondis des champs de saisie
    font-size: 1rem; // Taille de la police des champs de saisie
  }
  
  .button-group {
    display: flex;
    justify-content: space-between; // Espacement entre les boutons
    gap: 1rem; // Espacement horizontal entre les boutons
  }
  
  .btn-primary {
    flex: 1; // Prend tout l'espace disponible
    padding: 0.75rem; // Espacement interne du bouton
    background-color: #007bff; // Couleur de fond du bouton
    border: none; // Suppression de la bordure du bouton
    color: #fff; // Couleur du texte du bouton
    font-size: 1rem; // Taille de la police du bouton
    font-weight: bold; // Texte en gras pour le bouton
    border-radius: 4px; // Coins arrondis du bouton
    cursor: pointer; // Curseur pointeur pour le bouton
    transition: background-color 0.3s; // Transition pour la couleur de fond du bouton
  }
  
  .btn-primary:hover {
    background-color: #0056b3; // Couleur de fond du bouton au survol
  }
  
  .btn-secondary {
    flex: 1; // Prend tout l'espace disponible
    padding: 0.75rem; // Espacement interne du bouton
    background-color: #6c757d; // Couleur de fond du bouton
    border: none; // Suppression de la bordure du bouton
    color: #fff; // Couleur du texte du bouton
    font-size: 1rem; // Taille de la police du bouton
    font-weight: bold; // Texte en gras pour le bouton
    border-radius: 4px; // Coins arrondis du bouton
    cursor: pointer; // Curseur pointeur pour le bouton
    transition: background-color 0.3s; // Transition pour la couleur de fond du bouton
  }
  
  .btn-secondary:hover {
    background-color: #5a6268; // Couleur de fond du bouton au survol
  }
  